.App {
  min-height: 100vh;
  background: linear-gradient(
    to right bottom,
    rgba(254, 185, 95, 0.212),
    rgba(45, 200, 246)
  );
  overflow: hidden;
  position: relative;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .title {
    margin-top: 15vmin;
  }
}

@media screen and (max-width: 900px) {
  .title {
    margin-top: 25vmin;
  }
}

@media screen and (max-width: 600px) {
  .title {
    margin-top: 35vmin;
  }
}

@media screen and (max-width: 500px) {
  .title {
    margin-top: 50vmin;
  }
}


.title.maintext {
  padding-top: 15%;
  color: #2431ae;
  margin: 10px;
  font-size: 10vmin;
}

.title.subtext {
  color: #11a9cb;
  margin-bottom: 20px;
  margin-top: 0px;
  font-size: 5vmin;
  font-style: thin;
}

.btn {
  background-color: #2431ae;
  border: solid white 1px;
  color: white;
  border-radius: 10px;
  margin-top: 1vmin;
  transition-duration: 10ms;
  cursor: pointer;
}

.title.btn {
  padding: 0;
  height: 7vmin;
  width: 30vmin;
  font-size: 3vmin;
}

.btn:active {
  transform: translateY(4px);
}

.sun-img {
  width: 20vmin;
  height: auto;
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: 1;
}

.sun-ray {
  position: absolute;
  top: -14vmin;
  left: -14vmin;
  border-radius: 50%;
  background-color: white;
  z-index: -0.5;
}
.r-one {
  width: 35vmin;
  height: 35vmin;
  opacity: 0.4;
  animation: ray2 5s infinite;
}
.r-two {
  width: 37.5vmin;
  height: 37.5vmin;
  opacity: 0.4;
  animation: ray3 5s infinite;
}
.r-three {
  width: 40vmin;
  height: 40vmin;
  opacity: 0.4;
  animation: ray4 5s infinite;
}
.r-four {
  width: 42.5vmin;
  height: 42, 5vmin;
  opacity: 0.4;
  animation: ray5 5s infinite;
}

@keyframes ray2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
    opacity: 0.1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes ray3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
    opacity: 0.1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes ray4 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
    opacity: 0.1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes ray5 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
    opacity: 0.1;
  }
  100% {
    transform: scale(1);
  }
}

.wave-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 200px;
  animation: wave1 5s infinite;
}

.wave-2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 200px;
  animation: wave2 4s infinite;
}

.wave-3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 200px;
  animation: wave3 3s infinite;
}

@keyframes wave1 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes wave2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes wave3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
